<html>
<head>
	<link rel="stylesheet" href="styles.css">
	<script type="text/javascript" src="cards.js"></script>
</head>

</head>

<form>
  <h1><%= @title %> in <%= @stack %></h1>
  <textarea name="body" rows="4" cols="50" ><%= @body %></textarea>
  <br>
  <textarea name="acceptance" rows="4" cols="50"><%= @acceptance %></textarea>
  <br>
  <button type="submit" <%= @disDemote %> formaction="action/demote/<%= @stack %>/<%= @title %>">demote</button>
  <button type="submit" formaction="action/edit/<%= @stack %>/<%= @title %>">update</button>
  <button type="submit" <%= @disPromote %> formaction="action/promote/<%= @stack %>/<%= @title %>">promote</button>
</form>
